div.kitapp-header{
	margin-bottom: 1rem;
}

div.kitapp-content{
	min-height: 30rem;
}

div.alert ul{
	list-style: square;
}


div.alert-box{
	background-color: #fcd6d6;
	padding: 1rem;
	position: relative;
	color: #0a0a0a;
	margin: 0 0 1rem 0;
	border: 1px solid rgba(10, 10, 10, 0.25);
}

.alerterror input, .alerterror select{
	border: 2px red solid;
}

table.events-set-list-table input,
table.events-set-list-table select{
	margin-bottom: 0;
}

.select2-container{
	margin-bottom: 1rem;
}

.new-template-settings-fieldset, .new-message-settings-fieldset {
	padding: 1rem;
	margin: 1rem 0;
	background-color: rgba(255, 153, 0, 0.47);
}

.new-template-settings-fieldset legend,
.new-message-settings-fieldset legend{
	padding: 5px;
	font-weight: bold;
	font-size: 1.05rem;
	background-color: rgba(255, 153, 0, 0.47);
}


.sms-textarea-status-bar{
    background-color: #ddd;
    font-size: 0.8em;
    border: 1px solid rgba(10, 10, 10, 0.25);
    margin-bottom: 1rem;
}

div.email-template{
	margin-bottom: 1rem;
}

#div_id_kit_users,
#div_id_contacts{
	margin-bottom: 1rem;
}


#id_sms_template,#id_sms_message{
	margin-bottom: 0;
}

input.test-smtp-button{
	margin-right: 0.5rem;
}

.and-more{
	font-size: 0.8em;
	font-style: italic;
	color: #555;
}

.kitapp-lsm hr{
	margin: 0;
}

.kitapp-lsm-submenu{
	font-size: 0.85em;
}