
i{
	color: orangered;
}

div.kitapp-header{
	margin-bottom: 1rem;
}

div.kitapp-content{
	/*min-height: 30rem;*/
}

div.alert ul{
	list-style: square;
}


div.alert-box{
	background-color: #fcd6d6;
	padding: 1rem;
	position: relative;
	color: #0a0a0a;
	margin: 0 0 1rem 0;
	border: 1px solid rgba(10, 10, 10, 0.25);
}

.alerterror input, .alerterror select{
	border: 2px red solid;
}

table.events-set-list-table input,
table.events-set-list-table select{
	margin-bottom: 0;
}

.select2-container{
	margin-bottom: 1rem;
}

.new-template-settings-fieldset, .new-message-settings-fieldset {
	padding: 1rem;
	margin: 1rem 0;
	background-color: rgba(255, 153, 0, 0.47);
}

.new-template-settings-fieldset legend,
.new-message-settings-fieldset legend{
	padding: 5px;
	font-weight: bold;
	font-size: 1.05rem;
	background-color: rgba(255, 153, 0, 0.47);
}

.none-display{
	display: none;
}

.sms-textarea-status-bar{
    background-color: #ddd;
    font-size: 0.8em;
    border: 1px solid rgba(10, 10, 10, 0.25);
    margin-bottom: 1rem;
}

div.email-template{
	margin-bottom: 1rem;
}

#div_id_kit_users,
#div_id_contacts{
	margin-bottom: 1rem;
}


#id_sms_template,#id_sms_message{
	margin-bottom: 0;
}

input.test-smtp-button{
	margin-right: 0.5rem;
}

.and-more{
	font-size: 0.8em;
	font-style: italic;
	color: #555;
}

ul.kitapp-lsm li a:hover{
	display: block;
	background-color: #ccc;
	color: #222;
}


.kitapp-lsm{
	border: 1px dotted #ddd;
    background-color: #f9f9f9;
	-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
}

.kitapp-lsm hr{
	margin: 0;
}

.kitapp-lsm-submenu{
	font-size: 0.85em;
}

small.error{
	display: block;
    background-color: rgba(255,0,0,0.45);
    padding: 5px;
    margin-top: -1rem;
    margin-bottom: 1rem;
    /* color: orange; */
    font-weight: bold;    
	border-top: 2px solid red;
}

.input-highlight-error{
	margin-bottom: 0px;
}

.proc-msg-filter-submit{
	margin: 1.5rem 0 0 0.5rem;
}

.proc-msg-filter-form .helptext{
	display: none;
}

form.qu-re-form input[type="submit"]{
	margin-bottom: 0;
}

.login-form{
	padding: 2rem 1rem;
}

.login-form form{
	border: 1px dotted #ddd;
    background-color: #f9f9f9;
	-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
	padding: 1rem;
}


body.dashboard .kitapp-content{
}

body.dashboard .kitapp-content h3{
}

.grid{
}


/* fluid 5 columns */
.grid-sizer,
.grid-item {
	width: 25%;
	float: left;
	padding: 8px;
}
/* 2 columns */
.grid-item--width2 {
	width: 50%;
	float: left;
}

.grid-item h4{
	color: #fff;
}

.grid-item p{
	color: #dfdfdf;
}

#dsb-uptime{
	background-color: #B71C1C;
}

#dsb-cpu{
	background-color: #D32F2F;
}

#dsb-ram{
	background-color: #F44336;
}

#dsb-disk_usage{
	background-color: #FF1744;
}

#dsb-sms_balance{
	background-color: #3F51B5;
}
#dsb-qmc{
	background-color: #AFB42B;
}
#dsb-pmc{
	background-color: #8BC34A;
}
#dsb-upc_annv{
	background-color: #039BE5;
}

#dsb-upc_annv .no-bullet a{
	color: #000;
	font-weight: bold;	
}

#dsb-upc_annv .no-bullet a:hover{
	color: #808080;
	font-weight: bold;
}

#dsb-upc_annv span{
	font-weight: normal;
}

#sms-transfer-form i{
	color: #fff;
}