body{
	background-color: #8db5d2;
}


.circle{
	display: inline-block;
	width: 30px;
	height: 30px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	line-height: 22px;
	text-align: center;
	padding: 5px;
	color: #fff;
	font-weight: bold;
	margin-left: 5px;
}

.kt-e-activity-open{
	background-color: #f1a721;
}
.kt-e-activity-click{
	background-color: #786ac5;
}
.kt-e-activity-spamr{
	background-color: #f92727;
}

.kt-e-inactivity{
	color: #888;
	background-color: #bbb;
}

.callout.alert{
    background-color: #f34242;
    color: #fff;
}


li.kparnt.active > a{
	color: #231f1f;
    background: transparent;
    font-weight: bold;
}

input#cclfufld{
	width: 350px;
}

.inline-block{
	display: inline-block !important;
	margin-left: 1rem; 
}

.call-btn{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-box-shadow: 0px 2px 1px #888;
  -moz-box-shadow: 0px 2px 1px #888;
  box-shadow: 0px 2px 1px #888;
  font-family: Arial;
  color: #ffffff;
  padding: 0.6rem 0.8rem;
  text-decoration: none;
  float: left;
}

.call-btn:hover{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  -webkit-box-shadow: 0px 4px 4px #333;
  -moz-box-shadow: 0px 4px 4px #333;
  box-shadow: 0px 4px 4px #333;
}

.sms-btn {
  background: #34d3d9;
  background-image: -webkit-linear-gradient(top, #34d3d9, #2c97b8);
  background-image: -moz-linear-gradient(top, #34d3d9, #2c97b8);
  background-image: -ms-linear-gradient(top, #34d3d9, #2c97b8);
  background-image: -o-linear-gradient(top, #34d3d9, #2c97b8);
  background-image: linear-gradient(to bottom, #34d3d9, #2c97b8);
  -webkit-box-shadow: 0px 2px 1px #888;
  -moz-box-shadow: 0px 2px 1px #888;
  box-shadow: 0px 2px 1px #888;
  font-family: Arial;
  color: #ffffff;
  padding: 0.6rem 0.8rem;
  text-decoration: none;
  float: left;
}

.sms-btn:hover {
  background: #3ce4fa;
  background-image: -webkit-linear-gradient(top, #3ce4fa, #34d9d9);
  background-image: -moz-linear-gradient(top, #3ce4fa, #34d9d9);
  background-image: -ms-linear-gradient(top, #3ce4fa, #34d9d9);
  background-image: -o-linear-gradient(top, #3ce4fa, #34d9d9);
  background-image: linear-gradient(to bottom, #3ce4fa, #34d9d9);
  text-decoration: none;
  -webkit-box-shadow: 0px 4px 4px #333;
  -moz-box-shadow: 0px 4px 4px #333;
  box-shadow: 0px 4px 4px #333;
}

.call-btn i, .sms-btn i{
	color: #fff;
}

div.order-summary{
	background-color: #fff;
}

span.cart-item-update{
	display: none;
}

body.contact-page fieldset{
	background-color: #fefefe;
    padding: 1rem 1rem 0;
}

body.contact-page fieldset table{ 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    
}

th.msg_info{
	width: 23%;
}

.table-rowid-span{
	font-size: 90%;
	color: #888;
	font-style: italic;
}

#cc-recipients-channel-control{
	margin-top: 1.5rem;
}

div#cc-recipients-select .select2-container{
	margin-bottom: 0;
}

div#cc-recipients-select{
	padding: 0.5rem 0;
    background-color: #ffebcd;
    margin: 0 0 1rem 0;
    color: #aaa;
}

div#template-preview-modal li span{
	font-family: monospace;
    display: inline-block;
    border-bottom: 1px solid #333;
}

div#template-preview-modal li{
	list-style-type: none;
}

div#template-preview-modal label{
	font-weight: bold;
	display: inline-block;
}

.contact-list-system-lists-ent{
-webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.30);
-moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.30);
box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.30);
	padding: 0.5rem;
	background-color: #9cd0ec;
	text-align: center;
}

.contact-list-system-lists-ent table{
	width: 100%;	
}


div.title-bar{
	padding-top: 0;
    padding-bottom: 0;
}

div#k-user-profile-nav ul{
	list-style: none;
    margin:0;
	text-align: left;
}

div#k-user-profile-nav ul li{
	border-top: 1px solid #999;
	color: #888;
    width: 100%;
}

div#k-user-profile-nav ul li a{
	display: block;
    padding: 0.4rem;
}

div#k-user-profile-nav ul li a:hover{
    background-color: #444;
    color: #efefef;
}

input.message-template-preview-btn{
	margin-top: 1rem;
}

div#k-user-profile-nav ul li div{
	padding: 0.4rem;
	background-color: #efefef;
}

a#k-user-greeting{
	color: #000;
	display: inline-block;
	padding: 5px;
    background-color: #ff884a;
}

a:hover#k-user-greeting{
	background-color: #f9f9f9;
}

div#k-dropdown-content{
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: auto;
    z-index: 200;
}

div.title-bar-left{
	padding: 4px 0;
}

.hint{
    font-size: 75%;
    font-style: italic;
    display: inline-block;
    color: #653104;
}


.contact-list-system-lists-h4{
	text-align: center;
    background-color: #ff8e53;
    color: #fff;
}

.contact-list-system-lists-ent h5{
	color: #e05500;
}

.contact-list-system-lists-ent table{
	margin-bottom: 0;
}

form#reminder-message-form fieldset{
	background-color: #fff;
}

div.footer{
	margin-top: 2rem;
}


li.previous a, li.next a{
	background-color: #ff7f50;
}

li.previous a:hover, li.next a:hover{
	background-color: #ff8c00;
}

div.kitapp-content > div.row{
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    padding: 1rem;
    background-color: #c4e3ed;
}

td.phone span{
	font-size: 80%;
    padding: 0.2rem;
    background-color: #ddd;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.84);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.84);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.84);
	border-radius: 5%;
}

body.sms-report-page .kitapp-content .row,
body.dashboard div.kitapp-content .row{
	background-color: #fff;
}


form.smtp-setting #div_id_cou_group{
	margin-bottom: 1rem;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


div#bug-report{
	height: 50px; 
    position: fixed; 
    bottom:0%;
    width:100%; 
    background-color: #ff5700;
    color: #fff; 
    opacity: 1;
}

div.off-canvas-wrapper{
	margin-bottom: 50px;
}

div.off-canvas-content{
	background-color: #8db5d2;
}


i{
	color: orangered;
}

div.kitapp-header{
	margin-bottom: 1rem;
}

div.kitapp-content{
	min-height: 100vh;
}

div.alert ul{
	list-style: square;
}


div.alert-box, ul.errorlist{
	background-color: #fcd6d6;
	padding: 1rem;
	position: relative;
	color: #0a0a0a;
	margin: 0 0 1rem 0;
	border: 1px solid rgba(10, 10, 10, 0.25);
	list-style: none;
}

.alerterror input, .alerterror select{
	border: 2px red solid;
}

table.events-set-list-table input,
table.events-set-list-table select{
	margin-bottom: 0;
}

.select2-container{
	margin-bottom: 1rem;
}

.new-template-settings-fieldset, .new-message-settings-fieldset {
	padding: 1rem;
	margin: 1rem 0;
	background-color: rgba(255, 153, 0, 0.87);
}

.new-template-settings-fieldset legend,
.new-message-settings-fieldset legend{
	padding: 5px;
	font-weight: bold;
	font-size: 1.05rem;
	background-color: rgba(255, 153, 0, 0.47);
}

.none-display{
	display: none;
}

.sms-textarea-status-bar{
    background-color: #ddd;
    font-size: 0.8em;
    border: 1px solid rgba(10, 10, 10, 0.25);
    margin-bottom: 1rem;
}

div.email-template{
	margin-bottom: 1rem;
}

#div_id_kit_users,
#div_id_contacts{
	margin-bottom: 1rem;
}


#id_sms_template,#id_sms_message{
	margin-bottom: 0;
}

input.test-smtp-button{
	margin-right: 0.5rem;
}

.and-more{
	font-size: 0.8em;
	font-style: italic;
	color: #555;
}

ul.kitapp-lsm li a:hover{
	display: block;
	background-color: #ccc;
	color: #222;
}


.kitapp-lsm{
	border: 1px dotted #ddd;
    background-color: #f9f9f9;
	-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
}

.kitapp-lsm hr{
	margin: 0;
}

.kitapp-lsm-submenu{
	font-size: 0.85em;
}

small.error{
    display: block;
    background-color: #ff0000;
    padding: 5px;
    margin-top: -1rem;
    margin-bottom: 1rem;
    color: #f5f5f5;
    font-weight: bold;
    border-top: 2px solid #ff7d3d;
}

.input-highlight-error{
	margin-bottom: 0px;
}

.proc-msg-filter-submit{
	margin: 1.5rem 0 0 0.5rem;
}

.proc-msg-filter-form .helptext{
	display: none;
}

form.qu-re-form input[type="submit"]{
	margin-bottom: 0;
}

.login-form{
	padding: 2rem 1rem;
}

.login-form, .signup-form, .password-reset-form{
	border: 1px dotted #ddd;
    background-color: #f9f9f9;
	-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
	padding: 1rem;
}


body.dashboard .kitapp-content{
}

body.dashboard .kitapp-content h3{
}

.grid{
}


/* fluid 5 columns */
.grid-sizer,
.grid-item {
	width: 25%;
	float: left;
	padding: 8px;
}
/* 2 columns */
.grid-item--width2 {
	width: 50%;
	float: left;
}

.grid-item h4{
	color: #fff;
}

.grid-item p{
	color: #dfdfdf;
}

#dsb-uptime{
	background-color: #B71C1C;
}

#dsb-cpu{
	background-color: #D32F2F;
}

#dsb-ram{
	background-color: #F44336;
}

#dsb-disk_usage{
	background-color: #FF1744;
}

#dsb-free_sms_balance{
	background-color: #8080ff;
}
#dsb-user_balance{
	background-color: #3F51B5;
}
#dsb-qmc{
	background-color: #AFB42B;
}
#dsb-pmc{
	background-color: #8BC34A;
}
#dsb-upc_annv{
	background-color: #039BE5;
}

#dsb-upc_annv .no-bullet a{
	color: #000;
	font-weight: bold;	
}

#dsb-upc_annv .no-bullet a:hover{
	color: #808080;
	font-weight: bold;
}

#dsb-upc_annv span{
	font-weight: normal;
}

#sms-transfer-form i{
	color: #fff;
}

ul#id_unique_field{
	margin:0;
	list-style: none; 
}

ul#id_unique_field input{
	margin: 0;
}

ul#id_unique_field input{
	margin: 0;
}

@media screen and (max-width: 39.9375em) {
	ul#id_unique_field li{
		float: left;
	}
	ul#id_unique_field li:nth-child(2){
		margin-left: 2em;
	}
}

#unique-field-col-div{
	padding: 1em;
	background-color: bisque;
}

#customdata-upload-form div.column:nth-child(3) div{
	margin-top: 1em;
}

label[for="id_signup_flow"]{
	display: none;
}


body.verify-account-gate div.kitapp-content{
	background-color: #e9e9e9;
}

body.verify-account-gate div.kitapp-content table{
	border: 1px dotted #ddd;
    background-color: #f9f9f9;
	-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
	padding: 1rem;
}