{% extends "core/base_generic.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{{title}}{% endblock %}
{% block head_base_links %}
	<link href="{% static "css/foundation-datepicker.css" %}" rel="stylesheet">
	{{ block.super }}
{% endblock %}
{% block content %}
	<div class="row">
		{% block breadcrumbs %}
	    	{{ block.super }}
	    	{% breadcrumb "Contacts" "core:contacts-list" %}
	    	{% breadcrumb contact "core:contact-detail" %}
		{% endblock %}
		{{ block.super }}
		<h3>Contact <small></small></h3>		
		<form action="." method="post">
			{% crispy form %} {# I have set helper not to generate the form tag #}
			<fieldset class="fieldset">
				<legend>Anniversaries</legend>
					{{ event_formset.management_form|crispy}}
					{{ event_formset.non_form_errors }}
					{# crispy event_form #}
					<table class="events-set-list-table">
						<thead>
							<th>Date</th>
							<th>Title</th>
							<th>Template</th>
							<th>?</th>
						</thead>
						<tbody>		
						{% for evfli in event_formset %}
							<tr>
								<td style="width:30%">{{ evfli.id}} {{evfli.date}}</td>
								<td style="width:35%">{{evfli.title}}</td>
								<td style="width:30%">{{evfli.message}}</td>
								<td style="width:5%">{{ evfli.DELETE }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				<!--  {# crispy event_formset event_formset_helper #}  -->
				<!--  <input type="button" class="small button float-left" value="Add Event Line"></input>  -->
			</fieldset>
			<div class="button-holder">
				<input type="submit" name="submit" value="Submit" class="submit button success float-right" id="submit-id-submit">
				<input type="reset" name="reset" value="Reset" class="reset button float-right" id="reset-id-reset">
			</div>
		</form>		
		<form method="POST" action="{% url 'core:contact-delete' contactid %}">
		   {% csrf_token %}
		   <input type="submit" value="Delete" class="button alert float-left" 
		   onclick="return confirm('Are you sure you want to delete this contact?');">
		</form>
	</div>
{% endblock %}
{% block foot_base_js %}
	<script src="{% static "js/foundation-datepicker.js" %}"></script>
	<script>
	$(document).ready(function() {
		$('.event-form-date').fdatepicker({
		format: 'dd-mm-yyyy',
		disableDblClickSelection: true
		});
	});
	</script>
	{{block.super}}
{% endblock %}