{% extends "core/base_generic.html" %}
{% load render_table from django_tables2 %}
{% load staticfiles %}
{% block title %}{{title}}{% endblock %}
{% block head_base_links %}
	{{ block.super }}
	{{ transfer_form.media.css }}
	<style>
		span.select2-selection{
		height: 2.4em !important;
	    padding-top: 0.4em !important;
	    margin-bottom: 1em !important;
		}
	</style>
{% endblock %}
{% block content %}
	<div class="row">
		{{ block.super }}
		<h3>Funds <small>Transfer & History</small></h3>
		<div class="row column">
			<form action="" method="post" id="balance-transfer-form">
				<table>
					<h4 class="text-right">Total: <span class="stat" id="total-balance">{{total_balance|floatformat:2}}</span> NGN</h4>
					<tr>
						<td width="35%">
							<div>Balance: <span id="user-balance">-</span> NGN</div>
							<div>{{transfer_form.users}}</div>
						</td>
						<td width="25%">
							<div>Amount</div>
							<div>{{transfer_form.amount}}</div>
						</td>
						<td>
							<div><br /></div>
							<button class="button funds-txn-butn" data-mdir="credit"><i class="fi-plus"></i> Credit</button>
							<button class="button funds-txn-butn" data-mdir="debit"><i class="fi-minus"></i> Debit</button>
						</td>						
					</tr>
				</table>
				{{transfer_form.admin}}
			</form>
		</div>
		<div class="row column">
			<h4>Transfer History</h4>
			{% render_table table %}		
		</div>
	</div>
{% endblock %}
{% block foot_base_js %}
	{{ transfer_form.media.js }}
	<script type="text/javascript" src="{% static "js/humanize.js" %}"></script>
	<script>
	$(document).ready(function(){
		//$("#total-balance").text(function(){return Humanize.formatNumber($(this).text())});
		$('.funds-txn-butn').click(function(e){
   			e.preventDefault();
  			var payload = $("#balance-transfer-form").serializeArray();
  			payload.push({name:"mdir",value: $(this).data('mdir')});

   			ajaxPost('/settings/account/user/credit-transfer/',payload, function(content){   				
   				
           		if (content.hasOwnProperty("errors")){
           			var errors = $.parseJSON(content.errors);	
           		
           			$.each(errors, function(index, value){
           				display_ajax_alert_error(index, value, "#balance-transfer-form");
           			});
           			
           			return;
           			
           		}else{
           			$('div.nonfield-ajax-error').remove();
           			$("small.error").remove();
           			
           			$("#total-balance").text(Humanize.formatNumber(content.result.admin_bal,2));
           			$("#user-balance").text(Humanize.formatNumber(content.result.user_bal,2));
   				}
			});
   		})

   		$( "#id_users" ).change(function() {
   			var payload = $("#balance-transfer-form").serialize();

   			if ($("#balance-transfer-form #id_users").val() == ""){
   				$("#user-balance").text("");
   				return
   			}
   			else{
   				ajaxGet('/settings/account/user/get-balance/', payload, function(content){
   	   	  			$("#user-balance").text(Humanize.formatNumber(content.result.user_bal,2))
   	   	  		});
   			}
   	  		
   		});
	})	   		
	</script>
	{{block.super}}
{% endblock %}
