{% extends "core/base_generic.html" %}
{% load render_table from django_tables2 %}
{% block head_base_links %}
	{{ block.super }}
{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="row">
	<h3>Draft <small>Advanced Messages</small></h3>
	{{ block.super }}
	<a class="small button float-right hollow" href="{% url 'messaging:standard-draft-messages' %}">Standard</a>
	<a class="small button float-right" href="{% url 'messaging:advanced-draft-messages' %}">Advanced</a>
	{% render_table table %}
</div>
{% endblock %}