{% extends "core/base_generic.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}{{title}}{% endblock %}
{% block head_base_links %}
	<link href="{% static "css/foundation-datepicker.css" %}" rel="stylesheet">
	{{ form.media.css }}
	{{ block.super }}
{% endblock %}
{% block content %}
	<div class="row">
		<h3>Advanced Message <small>New</small></h3>
		{{ block.super }}
		<form action="." method="post" id="advanced-message-form">
			{% crispy form %}
			<input type="hidden" name="msgtoken" value="" />
			<input type="reset" name="reset" value="Reset" class="reset button secondary float-left" id="reset-id-reset">
			<input type="submit" name="submit" value="Save Draft" class="submit button float-left" id="submit-id-submit">
			<input type="button" id="prepare-send-message" value="Prepare" class="button warning float-right">
		</form>
	</div>
	<div class="reveal" id="message-modal" data-reveal>
		<h3>Sending...</h3>
		<p id="modal-rpt"></p>
		<button class="close-button" data-close aria-label="Close modal" type="button">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="reveal" id="message-sent-modal" data-reveal>
  		<h4></h4>
  		<button class="close-button" data-close aria-label="Close reveal" type="button">
    		<span aria-hidden="true">&times;</span>
  		</button>
	</div>
	<!-- template preview overlay goes here -->
	{% include "core/templates/template_preview_overlay.html" %}
{% endblock %}
{% block foot_base_js %}
	{{block.super}}
	{{ form.media.js }}
	<script src="{% static "js/sms_counter.js" %}"></script>
	<script src="{% static "js/foundation-datepicker.js" %}"></script>
		<script>
		
		var nowTemp = new Date();
		var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
		$(function(){
			$('#id_delivery_time').fdatepicker({
				format: 'dd-mm-yyyy hh:ii',
				disableDblClickSelection: true,
				language: 'vi',
				pickTime: true,
				onRender: function(date){
					return date.valueOf() < now.valueOf() ? 'disabled' : '';
				}
			});
		});
		

		$("input.message-template-preview-btn").on('click', function(){
			var tpl_id = $("#id_message_template").val();
			var url = '/template/'+tpl_id+'/preview/';
			if (tpl_id == ''){
				alert('You must select a Template to Preview');
			}
			else{
				ajaxGet(url, function(content){
					console.log(content.result);
					
					var smtp_fromn = content.result.smtp_from_user;
					var smtp_fromu = content.result.smtp_smtp_user;
					res = enset_tpl_vars([get_tpl_vars(content.result.email_template),get_tpl_vars(content.result.sms_template)])
					
					result_v = function(v){
						var myRes = '';
						for (const x of v){
							myRes += "<div>"+x+"</div>";
						};
						return myRes;
					};
					
					$('#msm-title').text(content.result.title);
					$('#msm-send-email').text(get_u_val(content.result.send_email));
					$('#msm-smtp-name').text(content.result.smtp_name);
					$('#msm-smtp-from').text(`${smtp_fromn} <${smtp_fromu}>`);
					
					$('#msm-send-sms').text(get_u_val(content.result.send_sms));
					$('#msm-sms-sender-id').text(content.result.sms_sender);
					$('#msm-sms-insert-optout').text(get_u_val(content.result.insert_optout));
					
					$('#template-preview-modal').foundation('open');
					$('#msg-tpl-vars').html(result_v(res));
					$('iframe#msm-email-tpl').contents().find('html').html(content.result.email_template);
					$('iframe#msm-email-tpl').css({"overflow-y":"scroll","height":"500px"});
					
					$('textarea#msm-sms-tpl').text(content.result.sms_template);
				})				
			}
			
		});
		
		/*$('.email-template, #div_id_sms_message, .sms-textarea-status-bar,.ss-recipients, .ss-deliver-at, .ss-sms-sender,.ss-smtp-setting').hide()*/
		
		(function(){
			
	   		$('#prepare-send-message').click(function(){
	  			var payload = $("#advanced-message-form").serialize();
	   			ajaxPost('/messaging/prepare-to-send-message/',payload, function(content){
	   				
	           		if (content.hasOwnProperty("errors")){
	           			var errors = $.parseJSON(content.errors);	
	           		
	           			$.each(errors, function(index, value){
	           				if (index === '__all__'){
	           					$('div.nonfield-ajax-error').remove();
	           					$("#reminder-message-form").prepend('<div class="alert callout nonfield-ajax-error">'+value[0].message+'</div>');
	           				}else{
	           					$("small.error").remove();
	           					//select field with error and apply text after it
	           					$("[name="+index+"]").after('<small class="error">'+value[0].message+'</small>');
	           				}
	           			});
	           			
	           			return;
	           			
	           		}else{
	   					$('div.nonfield-ajax-error').remove();
	   					$("small.error").remove();
	   					
		   				if (content.result.nocwe == 0 && content.result.total_sms_count == 0){
		   					return;
		   				}else{
		   					$('input[name="msgtoken"]').val(content.result.msgtoken);
			    			$('#message-modal p#modal-rpt').html(""+
			    					(content.result.nocwe != 0 ? "Email will be sent to "+content.result.nocwe+" recipient"+(content.result.nocwe > 1 ?"s":"")+" via "+content.result.mail_server+"<p />":"")+
			    					(content.result.total_sms_count != 0 ? "Total of "+content.result.total_sms_count+" SMS"+(content.result.total_sms_count > 1 ?"s":"")+" to be sent<p />":"")+
			    					'<input type="button" id="send-message" value="Send" class="button success float-right">'+
			    					"");
			    			$('#message-modal').foundation('open');	   					
		   				}
	   				}
	   			});
	   		});
	   		
	   		$('#message-modal p#modal-rpt').on('click', '#send-message', function(){
	   			var payload = $("#advanced-message-form").serializeArray();
	   			//payload.push({name:'idtdt', value:donditcode });
	   			
	   			ajaxPost('/messaging/send-message/',payload, function(content){
	   				$('#message-sent-modal h4').html(content.result);
	   				$('#message-sent-modal').foundation('open');
	   				setTimeout(function(){
	   					window.location.replace("/messaging/queued/messages/");
	   				}, 2500);
	   				//$('#message-sent-modal').foundation('open');
	   			});
	   		});
		})();
		
	</script>
{% endblock %}