{% extends "core/base.html" %}
{% load staticfiles %}

{% block body %}
	<div class="off-canvas-wrapper">
		<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
			<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
				<button class="close-button" aria-label="Close menu" type="button" data-close>
					<span aria-hidden="true">&times;</span>
				</button>
				{% block offcm %}
					{% include "core/menu.html" %}
				{% endblock %}
			</div>
			<div class="off-canvas-content" data-off-canvas-content>
				{% block header%}
				<div class="row columns kitapp-header">
					<div class="title-bar">
						<div class="title-bar-left">
							<button class="menu-icon hide-for-large" type="button" data-toggle="offCanvas"></button>
							<span class="title-bar-title"><img width="20px" src="{%  static 'images/favicon.png' %}" /> In.Touch</span>
						</div>
						<div class="title-bar-right">
							<div>Hi {% if user.get_full_name %}{{user.get_full_name}}{% else %}{{user.get_username}}{% endif %}
								<a href="{% url 'core:backdoor' %}" style="margin-left: 2rem;"><i class="fi-power" style="font-size: 22px; line-height: 1rem; color: red"></i></a>
							</div>
						</div>
					</div>
				</div>
				{% endblock %}
				<div class="row columns">
					{% block container %}
						<div class="show-for-large medium-3 column">
							{% block lsb %}
								{% include "core/menu.html" %}
							{% endblock %}
						</div>
						<div class="small-12 large-7 column kitapp-content">
							{% block content %}
								{% if messages %}
								<div class="alert callout">
									{% for message in messages %}
										<p>{{ message }}</p>
									{% endfor %}
								</div>
								{% endif %}
							{% endblock %}
						</div>
						{% block rsb_ex %}
							<div class="medium-2 show-for-large column">
								{% block rsb %}
								
								{% endblock %}
							</div>
						{% endblock %}
					{% endblock %}
				</div>
				<div class="row">
					{% block footer %}
						<div class="small-12 columns"><span class="float-right">Copyright &copy; Tekart Ltd. 2016</span></div>
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal" id="loadingDiv">
		<center><img style="padding-top: 21%" src="{% static 'images/spinner.svg' %}" alt="spinner"/></center>
	</div>
{% endblock %}