{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Intouch - {% block title %}{% endblock %}</title>
	{% block head_base_links %}
		<link rel="stylesheet" href="{% static "css/foundation.css" %}" />
		<link rel="stylesheet" href="{% static "css/foundation-icons/foundation-icons.css" %}" />
		<link href="{% static "css/main.css" %}" rel="stylesheet">
		
		
		<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax-plugin.min.js' %}"></script>
	{% endblock %}
</head>
<body class="{% block body_css_blk %}{{body_class}}{% endblock %}">
	{% block body %}
		{% block header%}{% endblock %}
		<div class="row">
			{% block container %}
			
			{% endblock %}
		</div>
		<div class="row">
			{% block footer %}{% endblock %}
		</div>

	{% endblock %}
	{% block foot_base_js %}
		<script type="text/javascript" src="{% static "js/vendor/what-input.js" %}"></script>
		<script type="text/javascript" src="{% static "js/vendor/foundation.js" %}"></script>
		<script type="text/javascript" src="{% static "js/main.js" %}"></script>
	{% endblock %}
	<div id="bug-report">
		<div class="row column show-for-medium">
			This Service is still in <a href="https://en.wikipedia.org/wiki/Software_release_life_cycle#BETA">Beta</a>.
			Help make it better by reporting issues or improvements.
			<a href="#" class="button success isfb-link" style="margin-top: 5px; margin-left: 1rem;">Report</a>		
		</div>
		<div class="show-for-small">
			<a href="#" class="button success isfb-link" style="margin-top: 5px; margin-left: 2rem;">Report Issue/Feedback</a>
		</div>
	</div>
	<div class="reveal" id="bug-report-modal" data-reveal>
	  <h3>Issue/Feedback</h3>
	  
	  <button class="close-button" data-close aria-label="Close modal" type="button">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<script>
		$("a.isfb-link").click(function(e){
			var brm = new Foundation.Reveal($("#bug-report-modal"));
			brm.open();
		})		
	</script>
</body>
</html>