{% extends "core/base.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}



{% block body %}
	<div class="off-canvas-wrapper">
		<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
			<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
				<button class="close-button hide" aria-label="Close menu" type="button" data-close>
					<span aria-hidden="true">&times;</span>
				</button>
				{% block offcm %}
					{% include "core/menu.html" %}
					<div style="margin-top: 1rem; text-align: center;">
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- InTouch Mobile View LSB -->
						<ins class="adsbygoogle"
						     style="display:block"
						     data-ad-client="ca-pub-8909496138809362"
						     data-ad-slot="8297188869"
						     data-ad-format="auto"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
				{% endblock %}
			</div>
			<div class="off-canvas-content" data-off-canvas-content>
				{% block header%}
				<div class="row columns kitapp-header">
					<div class="title-bar">
						<div class="title-bar-left">
							<button class="menu-icon hide-for-large" type="button" data-toggle="offCanvas"></button>
							<span class="title-bar-title"><img width="20px" src="{%  static 'images/favicon.png' %}" /> In.Touch</span>
						</div>
						<div class="title-bar-right" id="k-user-profile-nav">
							<a href="#" id="k-user-greeting">Hi {% if user.get_full_name %}{{user.get_full_name}}{% else %}{{user.get_username}}{% endif %}</a>
							<div id="k-dropdown-content">
								<ul>
									<li>
										<div>
											Balance	
											<h5 style="margin-bottom:0; color: #000;">{{ user.kituser.kitubalance.user_balance|floatformat:2}}<span class="small"> NGN</span></h5>									
										</div>
									</li>
									<li>
										<a href="{% url 'core:kituser-personal-profile' %}"><i class="fi-sheriff-badge"></i> My Profile</a>
									</li>
									<li>
										<a href="#" target="_blank"><i class="fi-page-multiple"></i> Docs</a>
									</li>
									<li>
										<a href="{% url 'core:backdoor' %}"><i class="fi-power" style="color: red"></i> Logout</a>
									</li>
								</ul>
							</div>
						</div>
						
						<span style="float: right; margin-right: 1.5rem; font-size: 1.4rem;">
							<a href="#" alt="notifications" title="Notifications"><i class="fi-rss" style="color: #fff; text-shadow: rgb(128, 128, 128) 1px 1px 0px;"></i></a>
						</span>
					</div>
				</div>
				{% endblock %}
				<div class="row columns">
					{% block container %}
						<div class="show-for-large medium-3 column">
							{% block lsb %}
								{% include "core/menu.html" %}
							{% endblock %}
							<div style="margin-top: 1rem; text-align: center;">
								<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
								<!-- Intouch LSB -->
								<ins class="adsbygoogle"
								     style="display:block"
								     data-ad-client="ca-pub-8909496138809362"
								     data-ad-slot="3649676464"
								     data-ad-format="auto"></ins>
								<script>
								(adsbygoogle = window.adsbygoogle || []).push({});
								</script>
							</div>
						</div>
						<div class="small-12 large-9 column kitapp-content clearfix">							
							{% block breadcrumbs %}
							    {% clear_breadcrumbs %}
							    {% breadcrumb_safe "<i class='fi-home'></i>" "/" %}
							{% endblock %}
							{% block content %}
								{% render_breadcrumbs %}
								{% if messages %}
								<div class="alert callout">
									{% for message in messages %}
										<p>{{ message }}</p>
									{% endfor %}
								</div>
								{% endif %}
							{% endblock %}
							<div class="row show-for-small" style="margin-top: 1rem;">
							<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
							<!-- InTouch Mobile Bottom -->
							<ins class="adsbygoogle"
							     style="display:block"
							     data-ad-client="ca-pub-8909496138809362"
							     data-ad-slot="5174305262"
							     data-ad-format="auto"></ins>
							<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
							</script>
							</div>
						</div>
					{% endblock %}
				</div>
				<div class="row footer">
					{% block footer %}
						<div class="small-12 columns"><span class="float-right">Copyright &copy; Tekart Ltd. 2016</span></div>
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal" id="loadingDiv" style="z-index: 10000;">
		<center><img style="padding-top: 21%" src="{% static 'images/spinner.svg' %}" alt="spinner"/></center>
		<center><button class="button warning" onclick="location.reload(0)">Refresh Page</button></center>
	</div>
{% endblock %}