{% extends "core/base.html" %}


{% block body %}
	<div class="off-canvas-wrapper">
		<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
			<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
				<button class="close-button" aria-label="Close menu" type="button" data-close>
					<span aria-hidden="true">&times;</span>
				</button>
				{% block offcm %}
					{% include "core/menu.html" %}
				{% endblock %}
			</div>
			<div class="off-canvas-content" data-off-canvas-content>
				{% block header%}{% endblock %}
				<div class="row">
					{% block container %}
						<div class="hide-for-small-only medium-2 column">
							{% block lsb %}
								{% include "core/menu.html" %}
							{% endblock %}
						</div>
						<div class="small-7 medium-7 column">
							{% block content %}
							
							{% endblock %}
						</div>
					<div class="small-3 medium-3 column">{% block rsb %}{% endblock %}</div>
					{% endblock %}
				</div>
				<div class="row">
					{% block footer %}
						<div class="small-12 columns"><span style="text-align: center">Copyright &copy; 2016</span></div>
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}