{% extends "core/base_generic.html" %}

{% load staticfiles %}

{% block head_base_links %}
	{{ block.super }}
{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block container %}
	<div class="show-for-large medium-3 column">
		{% block lsb %}
			{% include "core/menu.html" %}
		{% endblock %}
	</div>
	<div class="small-12 large-9 column kitapp-content">
		{% block content %}
			{% if messages %}
			<div class="alert callout">
				{% for message in messages %}
					<p>{{ message }}</p>
				{% endfor %}
			</div>
			{% endif %}
			<div class="row">
				<h3>Dashboard <small>Welcome</small></h3>
				<div class="grid">
					<div class="grid-sizer"></div>
					{% if not is_saas %}
						<div class="grid-item" id="dsb-uptime">
							<h4>Uptime</h4>
							<p><span>-</span></p>
						</div>
						<div class="grid-item" id="dsb-cpu">
							<h4>CPU</h4>
							<p><span>0</span>%</p>
						</div>
						<div class="grid-item" id="dsb-ram">
							<h4>Memory</h4>
							<p><span>0</span></p>
						</div>
						<div class="grid-item" id="dsb-disk_usage">
							<h4>Disk<small> (/)</small></h4>
							<p><span>0</span>%</p>
						</div>
					{% endif %}					
					<div class="grid-item" id="dsb-free_sms_balance">
						<h4>Free SMS</h4>
						<p class="stat text-center"><span>0</span></p>
					</div>
					<div class="grid-item" id="dsb-sms_balance">
						<h4>SMS Balance</h4>
						<p class="stat text-center"><span>0</span></p>
					</div>
					<div class="grid-item align-center" id="dsb-qmc">
						<h4>Queued</h4>
						<p class="stat text-center"><span>0</span></p>
					</div>
					<div class="grid-item" id="dsb-pmc">
						<h4>Processed</h4>
						<p class="stat text-center"><span>0</span></h4></p>
					</div>
					<div class="grid-item grid-item--width2" id="dsb-upc_annv">
						<h4>Upcoming</h4>
						<div class="column small-6">
							<ul class="no-bullet">
							{% for prve in priv_annv %}
								<li><a href="{{prve.contact.get_absolute_url}}">{{prve.contact.first_name}}</a>, <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="{{prve.date}}">{{prve.title}}</span></li>
							{% endfor %}
							</ul>
						</div>
						<div class="column small-6">
							<ul class="no-bullet">
								{% for pube in publ_annv %}
									<li><a data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="{{pube.date}}" href="{{pube.get_absolute_url}}">{{pube.title}}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		{% endblock %}
	</div>
	<div class="reveal" id="server-error-modal" data-reveal>
		<h3>Server Appears to be Down</h3>
		<p id="modal-rpt"></p>
		<button class="close-button" data-close aria-label="Close modal" type="button">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>

{% endblock %}

{% block foot_base_js %}
	{{ block.super }}
	<script type="text/javascript" src="{% static "js/humanize.js" %}"></script>
	<script src="{% static "js/masonry.pkgd.js" %}"></script>
	<script>
		
		/* ******** Runs the most frequently, so checks for server connection  */
		function sayserverdown(){
			$('#server-error-modal').foundation('open');
		}
		$.ajaxSetup({
			crossDomain : false,
			async : true,
		});
		{% if not is_saas %}
		function get_system_stat(){
			try{
				ajaxGet('/ping-stat/system/', function(content){
					console.log(content);
					
					//$(document).on('opened.zf.reveal', '[data-reveal]', function () {
					//$('[data-reveal]').on('opened.zf.reveal', function() {
					$('#server-error-modal').foundation('close');
					//});
					
					if (content.hasOwnProperty("result")){
						$("#dsb-ram p span").text(content.result.ram);
						$("#dsb-cpu p span").text(content.result.cpu);
						$("#dsb-disk_usage p span").text(content.result.disk_usage);
						$("#dsb-uptime p span").text(content.result.uptime);
					}
				}, {onError: sayserverdown});
				
				setTimeout(get_system_stat, 60*1000);
			}
			catch(err){
				return;
			}
		}
		{% endif %}
		/******                     ********/
		
		function get_qpc_stat(){
			try
			{
				ajaxGet('/ping-stat/qpc/', function(content){
					if (content.hasOwnProperty("result")){
						$("#dsb-qmc p span").text(content.result.qmc);
						$("#dsb-pmc p span").text(content.result.pmc);
						$("#dsb-sms_balance p span").text(Humanize.compactInteger(content.result.total_sms_balance));
						$("#dsb-free_sms_balance p span").text(Humanize.compactInteger(content.result.free_sms_balance));
					}
				}, {onError: sayserverdown});				
				setTimeout(get_qpc_stat, 240*1000);	
			}
			catch(err){
				return;
			}
		}
			
			
		$( document ).ready(function() {
			console.log('Ready');
			{% if not is_saas %}setTimeout(get_system_stat, 1000);{% endif %}
			setTimeout(get_qpc_stat, 1000);
		});
	
		$('.grid').masonry({
		  // options
		  itemSelector: '.grid-item',
		  columnWidth: '.grid-sizer',
		  percentPosition: true,
		});
	</script>
{% endblock %}