<ul class="vertical menu" data-accordion-menu>
	<li><a href="#">Dashboard</a></li>
	<li><a href="{% url 'core:contacts-list' %}">Contacts</a></li>
	<li><a href="#">Templates</a></li>
			<li>
		<a href="#">Events</a>
		<ul class="menu vertical nested">
			<li><a href="{% url 'core:events-list' %}">Private</a></li>
			<li><a href="{% url 'core:public-events-list' %}">Public</a></li>
		</ul>
	</li>
			<li><a href="#">Admin Groups</a></li>
	<li>
		<a href="#">Setting</a>
		<ul class="menu vertical nested">
			<li><a href="#">Sub-Admins</a></li>
			<li><a href="#">Account</a></li>
			<li><a href="#">SMTP</a></li>
			<li><a href="#">Support</a></li>
		</ul>
	</li>
</ul>