{% extends "core/base_generic.html" %}
{% load render_table from django_tables2 %}
{% block head_base_links %}
	{{ block.super }}
{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="row">
	<h3>Processed <small>Messages</small></h3>
	{{ block.super }}
	<div class="row column proc-msg-filter-form">
	    <form action="" method="get">
	       <div class="float-right proc-msg-filter-submit"><input class="button" type="submit" value="Filter" /></div>
	       <div class="small-7 float-right">{{ filter.form }}</div>
	    </form>
    </div>
	{% render_table table %}
</div>
{% endblock %}