{% extends "core/base_generic.html" %}
{% load render_table from django_tables2 %}
{% block head_base_links %}
	{{ block.super }}
{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="row">
	<h3>Processed <small>Messages</small></h3>
	{{ block.super }}
	<div class="row column proc-msg-filter-form">
	    <form action="" method="get">
	       <div class="float-right proc-msg-filter-submit"><input class="button" type="submit" value="Filter" /></div>
	       <div class="small-7 float-right">{{ filter.form }}</div>
	    </form>
    </div>
	{% render_table table %}
</div>
<!-- template preview overlay goes here -->
{% include "core/templates/template_preview_overlay.html" %}

{% endblock %}
{% block foot_base_js %}
	{{block.super}}
	<script>
		$(".show-message-modal").on('click', function(){
			data = jQuery.parseJSON($("script", this).html());
			
			res = enset_tpl_vars([get_tpl_vars(data.email_template),get_tpl_vars(data.sms_template)])
			
			result_v = function(v){
				var myRes = '';
				for (let x of v){
					myRes += "<div>"+x+"</div>";
				};
				return myRes;
			};
			
			$('#msm-title').text(data.title);
			$('#msm-send-email').text(get_u_val(data.send_email));
			$('#msm-smtp-name').text(data.smtp_name);
			
			$('#msm-send-sms').text(get_u_val(data.send_sms));
			$('#msm-sms-sender-id').text(data.sms_sender);
			$('#msm-sms-insert-optout').text(get_u_val(data.insert_optout));
			
			$('#template-preview-modal').foundation('open');
			$('#msg-tpl-vars').html(result_v(res));
			$('iframe#msm-email-tpl').contents().find('html').html(data.email_template);
			$('iframe#msm-email-tpl').css({"overflow-y":"scroll","height":"500px"});
			
			$('textarea#msm-sms-tpl').text(data.sms_template);
			
		});
	</script>
{% endblock %}
