{% extends "core/base_generic.html" %}

{% load django_tables2 %}
{% load i18n %}

{% load mt_extras %}
{% block head_base_links %}
	{{ block.super }}
{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="row">
	<h3>Running <small>Reminder Messages</small></h3>
	{{ block.super }}
	{% render_table table %}
</div>
<div class="reveal" id="message-modal" data-reveal>
  <h3>Detail</h3>
  <p id="modal-mdt" class="lead"></p>
  <p id="modal-tle"></p>
  <p id="modal-msg"></p>
  <p id="modal-rpt"></p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endblock %}
{% block foot_base_js %}
	{{block.super}}
	<script>		
		$(".show-message-modal").click(function(e){
			msg = jQuery.parseJSON($(this).attr('data-kitmsg'));
			$('#message-modal p#modal-tle').text(msg.title);
			$('#message-modal p#modal-msg').text(msg.message);
			$('#message-modal p#modal-rpt').text(msg.recipients);
			/*$('#message-modal p#modal-tle').text(msg.title);*/
			$('#message-modal').foundation('open');
		});
	</script>
{% endblock %}
