{% extends "core/email/base.html" %}


{% block content %}

<p>Dear {{user_fullname}},</p>
<p>You have been signed up as a user of <a href="http://intouchng.com">In.Touch</a> by {{admin_fullname}} of {{admin_organization}}.</p>
<p>In.Touch is a Business Messaging Automation Solution that organizes, manages and energizes your communication
with the people that matter.</p>
<p>To login, visit <a href="http://cloud.intouchng.com/">http://cloud.intouchng.com/</a></p>
<div style="border: 1px solid #eee; background-color: #fefefe; padding: 10px;">
<p><strong>Find Your Login Details Below:</strong></p>
<p><strong>Username:</strong> {{user_username}}</p>
<p><strong>Password:</strong> {{user_password}}</p>
</div>
<p>We highly recommend that you change this password to something only you would know - and make sure it is also hard to guess.</p>
<p>&nbsp;</p><p>&nbsp;</p>
<p>Need Immediate Support, contact us via chat or:<br /> Phone: +2348028443225<br /> Email: support@intouchng.com</p>
Regards<br />
In.Touch Support

{% endblock %}