{% extends "core/email/base.html" %}


{% block content %}

<p>Dear {{fullname}}</p>
<p>You're almost set!</p>
<p>Let us confirm your email address. Click on the link below to confirm.</p>
<p><a href="{{email_verification_link}}">{{email_verification_link}}</a></p>
<p>You can also copy and paste this code in the Email Verification Field: <strong>{{email_verification_code}}</strong></p>
<p>&nbsp;</p>
<p>Need Immediate Support, contact us via chat or:<br /> Phone: +2348028443225<br /> Email: support@intouchng.com</p>
Regards<br />
In.Touch Support

{% endblock %}