{% extends "core/base_generic.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}{{title}}{% endblock %}
{% block head_base_links %}
	{{ block.super }}
	<link href="{% static "css/foundation-datepicker.css" %}" rel="stylesheet">
	{{ form_2.media.css }}
{% endblock %}
{% block content %}
	<div class="row">
		<h3>Edit User <small>{{uzrname}}</small></h3>
		{{ block.super }}
		<form action="." method="post">
			{% crispy form_1 %}
			{% crispy form_2 %}
			<div class="row column" style="margin-bottom: 1rem;">
				<div><b>Last Login:</b> {{last_login}}</div>
				<div><b>Date Registered:</b> {{date_joined}}</div>
			</div>
			<div class="button-holder">
				<input type="submit" name="submit" value="Submit" class="submit button success float-right" id="submit-id-submit">
				<input type="reset" name="reset" value="Reset" class="reset button float-right" id="reset-id-reset">
			</div>
		</form>
		<input type="submit" value="Reset Password" class="button warning float-right reset-user-button">	
		<form method="POST" action="">
		   {% csrf_token %}
		   <input type="submit" value="Delete" class="button alert float-left" 
		   onclick="return confirm('Are you sure you want to delete this Public Event?');">
		</form>
	</div>
{% endblock %}
{% block foot_base_js %}
	{{ form_2.media.js }}
	{{block.super}}
	<script src="{% static "js/foundation-datepicker.js" %}"></script>
	<script>

		$(function(){
			$('#id_kituform-dob').fdatepicker({
				format: 'dd-mm-yyyy',
				disableDblClickSelection: true,
				language: 'en',
				pickTime: false,
				/*onRender: function(date){
					return date.valueOf() < now.valueOf() ? 'disabled' : '';
				}*/
			});
		});
	
	</script>
{% endblock %}