{% extends "core/base_generic.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}{{title}}{% endblock %}
{% block head_base_links %}
	<link href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
	<link href="{% static "css/foundation-datepicker.css" %}" rel="stylesheet">
	{{ form.media.css }}
	{{ block.super }}
{% endblock %}
{% block content %}
	<div class="row">		
		{{ block.super }}
		<form action="." method="post">
			{% crispy form_1 %}
			{% crispy form_2 %}
			<div class="button-holder">
				<input type="submit" name="submit" value="Submit" class="submit button success float-right" id="submit-id-submit">
				<input type="reset" name="reset" value="Reset" class="reset button float-right" id="reset-id-reset">
			</div>
		</form>
	</div>
{% endblock %}
{% block foot_base_js %}
	{{block.super}}
	<script src="{% static "js/foundation-datepicker.js" %}"></script>
	<script>
		$(document).ready(function() {
			$('.dob-form-date').fdatepicker({
			format: 'dd-mm-yyyy',
			disableDblClickSelection: true
			});
		});
	</script>
	{{ form.media.js }}
{% endblock %}