{% extends "core/base_generic.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}{{title}}{% endblock %}
{% block head_base_links %}
	{{ block.super }}
	{{form.media.css}}
{% endblock %}
{% block content %}
	<div class="row">
		<h3>Contact List <small>{{objtitle}}</small></h3>
		{{ block.super }}
			{% crispy form %}	
		<form method="POST" action="{% url 'core:contactgroup-delete' contactgroupid %}">
		   {% csrf_token %}
		   <input type="submit" value="Delete" class="button alert float-left" 
		   onclick="return confirm('Are you sure you want to delete this Contact Group?');">
		</form>
	</div>
{% endblock %}
{% block foot_base_js %}
	{{block.super}}
	{{form.media.js}}
{% endblock %}