{% extends "core/base_generic.html" %}
{% load render_table from django_tables2 %}
{% load django_bootstrap_breadcrumbs %}

{% block head_base_links %}
	{{ block.super }}
{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="row">
	{% block breadcrumbs %}
    	{{ block.super }}
    	{% breadcrumb "Contact Lists" "core:contactgroup-list" %}
	{% endblock %}
	{{ block.super }}
	<div class="table-scroll">
		<h3>Contact Lists</h3>
		<div class="clearfix hide" style="margin-bottom: 1rem; ">
			<div class="column small-12 medium-6" style="margin-bottom: 1rem;">
				<div class="contact-list-system-lists-ent">
					<h4 class="contact-list-system-lists-h4">SMS</h4>
					<div class="row columns">					
						<table>
							<tr>
								<td width="50%">
									<h5>Unsubscribe</h5>
									<div>12 new</div>
								</td>
								<td width="50%">
									<h5>DND</h5>
									<div>8 new</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="column small-12 medium-6">
				<div class="contact-list-system-lists-ent">
					<h4 class="contact-list-system-lists-h4">Email</h4>
					<div class="row columns">					
						<table>
							<tr>
								<td width="50%">
									<h5>Unsubscribe</h5>
									<div>12 new</div>
								</td>
								<td width="50%">
									<h5>Invalid</h5>
									<div>8 new</div>
								</td>
							</tr>
							<tr>
								<td width="50%">
									<h5>Spam Reports</h5>
									<div>12 new</div>
								</td>
								<td width="50%">
									<h5>Bounces</h5>
									<div>8 new</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
				
			</div>
		</div>
		<hr />
		<a class="small button" href="{% url 'core:contactgroup-new' %}">New Contact List</a>
		{% render_table table %}
	</div>
</div>
{% endblock %}