{% extends "core/base_generic.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{{title}}{% endblock %}
{% block head_base_links %}
	{{ block.super }}
	{{form.media.css}}
{% endblock %}
{% block content %}
	<div class="row">
		{% block breadcrumbs %}
	    	{{ block.super }}
	    	{% breadcrumb "Contact Lists" "core:contactgroup-list" %}
	    	{% breadcrumb "New" "core:contactgroup-new" %}
		{% endblock %}
		{{ block.super }}
		<h3>New Contact List</h3>
		{% crispy form %}
	</div>
{% endblock %}
{% block foot_base_js %}
	{{block.super}}
	{{form.media.js}}
	<script>
	$('a#sel-all-contacts').click(function(e){
		e.preventDefault();
		$('select#id_contacts option').attr('selected', 'selected');
		$('select#id_contacts').trigger('change');
	})
	</script>
{% endblock %}