{% extends "core/base_generic.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}{{title}}{% endblock %}
{% block head_base_links %}
	<link href="{% static "css/foundation-datepicker.css" %}" rel="stylesheet">
	{{ form.media.css }}
	{{ block.super }}
{% endblock %}
{% block content %}
	<div class="row">
		<h3>Template <small>New</small></h3>
		{{ block.super }}
		{% crispy form %}
	</div>
{% endblock %}
{% block foot_base_js %}
	{{ form.media.js }}
	<script src="{% static "js/sms_counter.js" %}"></script>
	<script>
		$('#id_sms_template').countSms('.sms-textarea-status-bar')
	</script>
	{{block.super}}
{% endblock %}