{% extends "core/base_generic.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}{{title}}{% endblock %}
{% block head_base_links %}
	{{ form.media.css }}
	{{ block.super }}
{% endblock %}
{% block content %}
	<div class="row">
		<h3>Reminder <small>New</small></h3>
		{{ block.super }}
		<form action="." method="post" id="reminder-message-form">
			{% crispy form %}
			<fieldset class="fieldset">
				<legend>Reminder Settings</legend>
					{{ reminder_formset.management_form|crispy}}
					{{ reminder_formset.non_form_errors }}
					<table class="reminder-set-list-table">
						<thead>
							<th>Value</th>
							<th>Period</th>
							<th>Delta</th>
							<!-- <th>?</th> -->
						</thead>
						<tbody>		
						{% for reminder_item in reminder_formset %}
							<tr>
								<td style="width:30%">{{ reminder_item.delta_value}}</td>
								<td style="width:35%">{{reminder_item.delta_type}}</td>
								<td style="width:30%">{{reminder_item.delta_direction}}</td>
								<!-- <td style="width:5%">{{ reminder_item.DELETE }}</td> -->
							</tr>
						{% endfor %}
						</tbody>
					</table>
			</fieldset>
			<input type="hidden" name="msgtoken" value="" />
			<input type="reset" name="reset" value="Reset" class="reset button secondary float-left" id="reset-id-reset">
			<input type="submit" name="submit" value="Save Draft" class="submit button float-left" id="submit-id-submit">
			<input type="button" id="reminder-run" value="Run" class="button warning float-right">
		</form>
	</div>
	<div class="reveal" id="message-modal" data-reveal>
		<h3>Sending...</h3>
		<p id="modal-rpt"></p>
		<button class="close-button" data-close aria-label="Close modal" type="button">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="reveal" id="message-sent-modal" data-reveal>
  		<h4></h4>
  		<button class="close-button" data-close aria-label="Close reveal" type="button">
    		<span aria-hidden="true">&times;</span>
  		</button>
	</div>
	{% include "core/templates/template_preview_overlay.html" %}
{% endblock %}
{% block foot_base_js %}
	{{block.super}}
	{{ form.media.js }}
	<script>
	
		$("input.message-template-preview-btn").on('click', function(){
			var tpl_id = $("#id_message_template").val();
			var url = '/template/'+tpl_id+'/preview/';
			if (tpl_id == ''){
				alert('You must select a Template to Preview');
			}
			else{
				ajaxGet(url, function(content){
					console.log(content.result);
					
					var smtp_fromn = content.result.smtp_from_user;
					var smtp_fromu = content.result.smtp_smtp_user;
					res = enset_tpl_vars([get_tpl_vars(content.result.email_template),get_tpl_vars(content.result.sms_template)])
					
					result_v = function(v){
						var myRes = '';
						for (const x of v){
							myRes += "<div>"+x+"</div>";
						};
						return myRes;
					};
					
					$('#msm-title').text(content.result.title);
					$('#msm-send-email').text(get_u_val(content.result.send_email));
					$('#msm-smtp-name').text(content.result.smtp_name);
					$('#msm-smtp-from').text(`${smtp_fromn} <${smtp_fromu}>`);
					
					$('#msm-send-sms').text(get_u_val(content.result.send_sms));
					$('#msm-sms-sender-id').text(content.result.sms_sender);
					$('#msm-sms-insert-optout').text(get_u_val(content.result.insert_optout));
					
					$('#template-preview-modal').foundation('open');
					$('#msg-tpl-vars').html(result_v(res));
					$('iframe#msm-email-tpl').contents().find('html').html(content.result.email_template);
					$('iframe#msm-email-tpl').css({"overflow-y":"scroll","height":"500px"});
					
					$('textarea#msm-sms-tpl').text(content.result.sms_template);
				})				
			}
			
		});
		
		$(document).ready(function(){
			
			//widget is textfield by defaul, changed to select
			$("#id_date_column").replaceWith('<select class="select" id="id_date_column" name="date_column"></select>');
			
	   		$( "#id_custom_data_namespace" ).change(function(e){
	   			var url = '/data-mgmt/custom-data/headers/'+$("#id_custom_data_namespace").val();
	   			ajaxGet(url, function(content){
	   				
	   				console.log(content.result)
	   				
	   				if (content.result == "nil"){
						$("#id_date_column").empty();
					}
	   				else{
	   					$("#id_date_column").empty();
						$.each(content.result, function(i, val){
								$("#id_date_column").append($('<option />', { value: val, text: val }));
						});
	   				}
	   	  		},{onError:sayconnectiondown});
	   		});
	   		
	   		$("#reminder-run").click(function(){
	  			var payload = $("#reminder-message-form").serialize();
	  			
	  			console.log(payload)
	  			
	   			ajaxPost('/messaging/run-reminder/',payload, function(content){	   				
	   				if (content.hasOwnProperty("errors")){
	           			var errors = $.parseJSON(content.errors);
	           			$.each(errors, function(index, value){
	           				if (index === '__all__'){
	           					$('div.nonfield-ajax-error').remove();
	           					$("#reminder-message-form").prepend('<div class="alert callout nonfield-ajax-error">'+value[0].message+'</div>');
	           				}else{
	           					$("small.error").remove();
	           					//select field with error and apply text after it
	           					$("[name="+index+"]").after('<small class="error">'+value[0].message+'</small>');
	           				}
	           			});
	           			return;
	           			
	           		}else{
	   					$('div.nonfield-ajax-error').remove();
	   					$("small.error").remove();
	   					
	   					$('#message-sent-modal h4').text(content.result);
		    			$('#message-sent-modal').foundation('open');
	   				}
	   			},{"onError":sayconnectiondown});
	   		});
		});
		
	</script>
{% endblock %}